{% extends "Base.html" %}

{% block content %}


<body>


<div class="container">

  <div class="jumbotron" >
    <h1 class="display-4"> <p style="color:black"> <strong> hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh </strong> </p> </h1>
    <p class="lead"> <p style="color:black"> <strong>Artificial Intelligence and Convolutional Neural Network </strong></p>
    <hr class="my-4">
    
  </div>

</div>


<div class="container">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      About Page
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body" align='left'>
      <li><strong> Final Year Project </strong> </li> <br>
      A simple Deep neural network model trained on real world images <br>
      upload images<br><br>
      "Submit and Predict" button
      <ul>
        <li><strong>hhhhhhhhhhhhhhhhhhhhhhhhhhhhh</strong> </li>
        <li><strong>hhhhhhhhhhhhhhhhhhhhhhhhhhhhh</strong></li>
      </ul>
    </div>
  </div>
    <hr>
  <form action="{{url_for("pred")}}"  method="POST" enctype="multipart/form-data">
    <h4>Click below to upload your <strong>image</strong>.</h4>

    <div class="form-group">
    <!-- <img src="../static/upload5.png" alt="img" width="20%" height="5%"> -->
    <label>
    <input type="file" name="file" id="file" style="display:none" accept="image/*" required>
    <img src="../static/upload5.png" width="50%">
    </label>
  </div>

    <div class="container">
      <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1">Make sure you uploaded images related to <strong>1. hhhh</strong>, <strong>2. hhhh</strong>, <strong>3. hhhh</strong></label>
    </div>

    </div>
  <br>
    <input type="submit" class="btn btn-secondary" name="Submit and predict" value="Submit and Predict">
  </form>
  <br>

</div>


</body>
{% endblock %}
